
Replace the missing values in the attached data set with the median of the age and salary columns respectively.

The data set is posted here:

https://www.dropbox.com/s/91tthp8h6hgxzi6/Data-CodeChallenge1.csv?raw=1

In [1]:
import pandas as pd
import numpy as np

dataset = pd.read_csv('https://www.dropbox.com/s/91tthp8h6hgxzi6/Data-CodeChallenge1.csv?raw=1')

print(dataset)

  Cities in East Bay   Age    Salary Own Home?
0         Pleasanton  44.0  172000.0        No
1       Walnut Creek  27.0  148000.0       Yes
2             Dublin  30.0  154000.0        No
3       Walnut Creek  38.0  161000.0        No
4             Dublin  40.0       NaN       Yes
5         Pleasanton  35.0  158000.0       Yes
6       Walnut Creek   NaN  152000.0        No
7         Pleasanton  48.0  179000.0       Yes
8             Dublin  50.0  183000.0        No
9         Pleasanton  37.0  167000.0       Yes

In [0]:
def fillna_mixed_columns(dataframe):
    """Fills missing dataframe values with the median value for numeric columns, ignoring non-numeric columns
    https://stackoverflow.com/questions/25239958/impute-categorical-missing-values-in-scikit-learn
    
    Args:
        dataframe (pandas.core.frame.DataFrame): dataframe with observations as rows and features as columns
        
    Returns:
        dataframe with missing values in numeric columns filled with the columns' median values
        
    """
    fill = pd.Series([None if dataset[c].dtype == np.dtype('O') else dataset[c].median() for c in dataset], 
                     index=dataset.columns)
    
    return dataset.fillna(fill)

In [3]:
dataset_filled = fillna_mixed_columns(dataset)
print(dataset_filled)

  Cities in East Bay   Age    Salary Own Home?
0         Pleasanton  44.0  172000.0        No
1       Walnut Creek  27.0  148000.0       Yes
2             Dublin  30.0  154000.0        No
3       Walnut Creek  38.0  161000.0        No
4             Dublin  40.0  161000.0       Yes
5         Pleasanton  35.0  158000.0       Yes
6       Walnut Creek  38.0  152000.0        No
7         Pleasanton  48.0  179000.0       Yes
8             Dublin  50.0  183000.0        No
9         Pleasanton  37.0  167000.0       Yes