# Splitting data into Test/Train datasets


In this code challenge we're going to use the Pima Indians Diabetes dataset to split our data into test/train datasets both manually and using a library.

In [1]:
# LAMBDA SCHOOL
# 
# MACHINE LEARNING
#
# MIT LICENSE

# Import Data and Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
df = pd.read_csv(url, names=names)
print(df.shape)
df.head()

(768, 9)

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1


### 1) Randomly a select 20% of your data to be in your "test" dataset and the other 80% to be in your "train" dataset. Do this without setting a random seed.

In [0]:
shuffled = df.sample(frac=1)
split_index = shuffled.shape[0] // 5
test = shuffled.iloc[:split_index]
train = shuffled.iloc[split_index:]

### 2) After you have randomly divided the dataset, print the shape of both of your new test and train datasets and print the first five rows of each.

In [3]:
print(train.shape)
train.head()

(615, 9)

     preg  plas  pres  skin  test  mass   pedi  age  class
162     0   114    80    34   285  44.2  0.167   27      0
176     6    85    78     0     0  31.2  0.382   42      0
401     6   137    61     0     0  24.2  0.151   55      0
167     4   120    68     0     0  29.6  0.709   34      0
437     5   147    75     0     0  29.9  0.434   28      0

In [4]:
print(test.shape)
test.head()

(153, 9)

     preg  plas  pres  skin  test  mass   pedi  age  class
383     1    90    62    18    59  25.1  1.268   25      0
704     4   110    76    20   100  28.4  0.118   27      0
600     1   108    88    19     0  27.1  0.400   24      0
80      3   113    44    13     0  22.4  0.140   22      0
227     3   162    52    38     0  37.2  0.652   24      1

### 3) Use sklearn's train_test_split function to split the data into test and training datasets. Set the random_state to 42

In [0]:
train, test = train_test_split(df, test_size=0.2, random_state=42)

### 4) Print the shape and first 5 rows of the new dataframes.

In [6]:
print(train.shape)
train.head()

(614, 9)

     preg  plas  pres  skin  test  mass   pedi  age  class
60      2    84     0     0     0   0.0  0.304   21      0
618     9   112    82    24     0  28.2  1.282   50      1
346     1   139    46    19    83  28.7  0.654   22      0
294     0   161    50     0     0  21.9  0.254   65      0
231     6   134    80    37   370  46.2  0.238   46      1

In [7]:
print(test.shape)
test.head()

(154, 9)

     preg  plas  pres  skin  test  mass   pedi  age  class
668     6    98    58    33   190  34.0  0.430   43      0
324     2   112    75    32     0  35.7  0.148   21      0
624     2   108    64     0     0  30.8  0.158   21      0
690     8   107    80     0     0  24.6  0.856   34      0
473     7   136    90     0     0  29.9  0.210   50      0

### Change the random state on your test_train_split to a different integer and run the code again. What happens to the shape of the dataset? What happens to the first five rows?


---

In [8]:
train, test = train_test_split(df, test_size=0.2, random_state=41)
print(train.shape)
train.head()

(614, 9)

     preg  plas  pres  skin  test  mass   pedi  age  class
158     2    88    74    19    53  29.0  0.229   22      0
573     2    98    60    17   120  34.7  0.198   22      0
429     1    95    82    25   180  35.0  0.233   43      1
740    11   120    80    37   150  42.3  0.785   48      1
589     0    73     0     0     0  21.1  0.342   25      0

The shape remains the same, since the same `test_size` is used. However, the first five rows are different, since they have been sampled randomly, and this is dependent on the random seed.

### 5) Using the original dataframe, create two new dataframes titled "X" and "Y". 

The Y dataframe should be composed of only the "class" column (our dependent variable - or what we want to predict) and the X dataframe should be composed of all other columns. (Our independent variables, sometimes called features or predictors)

Print their shape as well as the first 5 rows of these two dataframes.

In [0]:
X = df.drop('class', axis=1)
Y = df[['class']]

In [10]:
print(X.shape)
X.head()

(768, 8)

   preg  plas  pres  skin  test  mass   pedi  age
0     6   148    72    35     0  33.6  0.627   50
1     1    85    66    29     0  26.6  0.351   31
2     8   183    64     0     0  23.3  0.672   32
3     1    89    66    23    94  28.1  0.167   21
4     0   137    40    35   168  43.1  2.288   33

In [11]:
print(Y.shape)
Y.head()

(768, 1)

   class
0      1
1      0
2      1
3      0
4      1

### 6) Now use the train_test_split function to not only split your dataset into test and train datasets, but also by independent and dependent variables. Pick any integer value to use use as the random seed.

You should end up with 4 datasets: X_train, Y_train, X_test, and Y_test

Print the sizes and first 5 rows of each of these four datasets.

In [0]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=41)

In [13]:
print(X_train.shape)
X_train.head()

(614, 8)

     preg  plas  pres  skin  test  mass   pedi  age
158     2    88    74    19    53  29.0  0.229   22
573     2    98    60    17   120  34.7  0.198   22
429     1    95    82    25   180  35.0  0.233   43
740    11   120    80    37   150  42.3  0.785   48
589     0    73     0     0     0  21.1  0.342   25

In [14]:
print(Y_train.shape)
Y_train.head()

(614, 1)

     class
158      0
573      0
429      1
740      1
589      0

In [15]:
print(X_test.shape)
X_test.head()

(154, 8)

     preg  plas  pres  skin  test  mass   pedi  age
679     2   101    58    17   265  24.2  0.614   23
345     8   126    88    36   108  38.5  0.349   49
486     1   139    62    41   480  40.7  0.536   21
20      3   126    88    41   235  39.3  0.704   27
457     5    86    68    28    71  30.2  0.364   24

In [16]:
print(Y_test.shape)
Y_test.head()

(154, 1)

     class
679      0
345      0
486      0
20       0
457      0

### The following code will split our data and then train a logistic regression classifier.

### Run the code multiple times using different random_seed. What happens to the model's accuracy? Why do you think  this might be happening? 

### Research what the "Random Seed" is for and how it can help us ensure that our machine learning results are reproducible.

In [17]:
from sklearn.linear_model import LogisticRegression

feature_cols = [col for col in df.columns if 'class' not in col]
Y = df['class']
X = df[feature_cols]

random_seeds = [41, 42, 50, 52, 59]

for random_seed in random_seeds:
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=random_seed)
    model = LogisticRegression()
    model.fit(X_train, Y_train)
    result = model.score(X_test, Y_test)
    print("Random Seed: {}, Accuracy: {:.3f}%".format(random_seed, result*100.0))

Random Seed: 41, Accuracy: 78.571%
Random Seed: 42, Accuracy: 75.974%
Random Seed: 50, Accuracy: 71.429%
Random Seed: 52, Accuracy: 75.974%
Random Seed: 59, Accuracy: 74.675%

The dataset is small enough that the model accuracy on the training data can depend on the data it is trained on, and the distribution of data in the test set. If the model is highly dependent on the data in this way, then we say it has high variance.

Since random numbers in software are actually generated by a pseudorandom number generator, setting the random seed makes the result of some random action, such as sampling from a distribution, determined. Setting the random seed means that one can expect just about the same result from running some algorithm each time it is done, and no matter what machine it is run from. This is important both for science, where reproducibility is a requirement for good research, and for industry, where reusable code increases productivity.